*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
*:after, *:before{
	box-sizing: border-box;
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

.wrapper{
	max-width: 1060px;
	min-width: 320px;
	margin: 0 auto;
	
}
#logo{
	margin-top: 65px;
	display: inline-block;
	float: left;
	width: 365px;
}

.menu li{
	margin-top: 65px;
    list-style-type: none;

}
.menu a:hover{
	background-color: #f0f0f0;
	border-bottom: 3px solid black;
	transition: 0.95s;
	cursor: ;
}
.menu a{
	text-decoration: none;
	font-size: 14px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(98, 98, 98);

}
a:hover{
	border-bottom: 3px solid #f0f0f0;
	transition: 0.95s;
}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: flex-end;


}
.slider img{
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 95px;
}

h2{
	font-size: 40px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(98, 98, 98);
    margin-bottom: 30px;
    margin-top: 20px;
}
.wrapper1{
	max-width: 906px;
	min-width: 300px;
}
p{
	font-family: "Ubuntu", sans-serif;
	color: #c0c0c0;
	text-align: left;
	padding-bottom: 43px;
	
}
a{
	font-size: 18px
    font-family: "Ubuntu", sans-serif;
    color: rgb(180, 173, 158);
	text-decoration: none;

}
.introduction{
	margin-top: 20px;
	margin-bottom: 50px;
}
.introduction a{
	margin-bottom: 35px;
}
.part1,.part2,.part3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;


}
.part1_1,.part1_2,.part2_1,.part2_2,.part3_1,.part3_2{
	width: 100%;
	min-width: 420px;

}
.part1 img,.part2 img,.part3 img{
	width: 100%;
	height: 281px;
	max-width: 420px;

}


.form{
	background-color: #f0f0f0;
	width: 100%;
	margin: 0 auto;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
	height: 290px;
	position: relative;
}

.form label{
	font-size: 30px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(98, 98, 98);

}
#mail{
	width: 400px;
	height: 40px;
	border: 1px solid #f0f0f0;
	border-bottom: 1px solid black;
	background-color: #f0f0f0;

}
#submit{
	position: absolute;
	top: 25%;
	right: 36%;
	display: inline-block;
	content: "";
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	width: 20px;
	height: 20px;
	-webkit-background-size: 100%;
	background size: 100%; 
}

button{
	margin-top: 50px;
	width: 165px;
	height: 60px;
	border: 1px solid #626262;
	font-size: 32px;
    font-family: "PlayfairDisplay", serif;
    text-align: center;
    display: block;
    background-color: #fff;
    margin-bottom: 200px;
}
footer{
	height: 100px;
	width: 100%;
	background-color: #f0f0f0;
}

.terms,.contact{
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	color: rgb(98, 98, 98);
}
.terms{
	margin-left: 20px;
}
.contact{
	margin-right: 20px;
}
footer li{
	list-style-type: none;
	display: inline-block;
}
.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;	
}
@media (max-width: 880px){
    .part1,.part2,.part3,.menu{
    	-webkit-flex-wrap: wrap-reverse;
	    -moz-flex-wrap: wrap-reverse;
	    -ms-flex-wrap: wrap-reverse;
	    -o-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
    }

}
@media (max-width: 1070px) {
	#logo{
		margin-left: 20px;
	}
}
@media (max-width: 930px){
	.introduction,.part1,.part2,.part3{
		margin-left: 15px;
	}
}
@media (max-width: 430px){
	#logo,.introduction,.part1,.part2,.part3{
		margin-left: 0px;
	}
}
